html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #292929;
    color: #a0fffa;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
    background: #1a1e51
}
a.my_links{
    color: beige;
}

/* CSS */
button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    line-height: 1.6;
    list-style: none;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

p strong{
    font-size: 1.3em;
}

div#header {
    position: relative;
    height: 100px;
    background: #3c1212;
    color: #d8d258;
    margin: 0;
    display: flex;
}

div#header h1 {
    font-size: xx-large;
    line-height: 80px;
    padding-left: 10px;
    color: #d8d258;
    display: flex;
}

div#header ul {
    display: flex;
}

div#header li {
    padding-left: 15px;
}

div#header a {
    color: beige;
    display: flex;
    flex-direction: column-reverse;
}

div#navigation {
    background: #0c18b5;
}

div#extra {
    background: #00097e;
}

div#footer {
    background: #0c3f53;
    color: #fff;
}

div#footer p {
    padding: 20px 10px;
}
div#footer a {
    color: lightskyblue;
    text-decoration: none;
    font-size: large;
}

div#container {
    width: 800px;
    margin: 0 auto;
}

div#content {
    float: right;
    width: 500px;
}

div#navigation {
    float: left;
    width: 200px;
}

div#navigation nav {
    display: grid;
    align-content: space-evenly;
    padding-left: 2em;
    font-size: 1.5rem;
}
div#navigation nav a{
    color: beige;
    padding-top: 15px;
    text-decoration: none;
}

div#extra {
    float: left;
    clear: left;
    width: 200px;
}

div#footer {
    clear: both;
    width: 100%;
}

div#footer ul {
    display: grid;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: start;
}

ul#index_courses_list li a {
    color: beige;
}

ul#index_courses_list li a {
    color: beige;
}