{% extends "student_management/base.html" %}


{% block content %}

<!--    <a>{{user_id}} &#45;&#45; {{ user_name }}    </a>-->
    <h2>Log In</h2>
    <form actin="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log In</button>
    </form>
{% endblock  %}
