{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'student_management/index.css' %}">

{% block title %}Profile Page{% endblock title %}

<div id ="container">
    <div id="wrapper">
        <div id="content">

{% block content %}
    <h2>Profile Page</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
        <br><br>
        <a href="{% url 'student_management:index' %}">Home</a>
    </form>
{% endblock content %}
        </div>
    </div>
</div>
