<!DOCTYPE HTML PUBLIC "">
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'student_management/index.css' %}">
        <title>Student Management System</title>
        <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
        {% block head %}


        {% endblock %}
    </head>
    <body>

        <div id="container">
                {% block header %}
                    <div id="header">
                        <h1>Student Management System</h1>
                        <ul>
                            <li><a href="/student_management/login">Loging</a></li>
                            <li><a href="{% url 'student_management:logout' %}">Logout</a></li>
                            <li><a href="{% url 'student_management:register' %}">Register</a></li>
                        </ul>
                        {% if loggedIn %}
                        <a>logged as: </a>
                        {% endif %}
                        <a>{{ user }}</a>
                    </div>
                {% endblock %}

                <div id="wrapper">

                    <div id="content">
                    {% block content %}

                        {% if title %}
                        <h1 id="title" >{{ title }}</h1>
                        {% endif %}
                        {% if message %}
                        <a id="message">{{ message }}</a>
                        {% endif %}
                    {% endblock %}
                    </div>
                </div>
                <div id="navigation">
                    <p><strong>Navigation Menu</strong></p>
                    <h3>Usefull links</h3>
<!--                    {% if mainLinks %}-->
<!--                    <ul>-->
<!--&lt;!&ndash;                        {% for link in links %}&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="{% url link.path %}">{{link.name}}</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        {% endfor %}&ndash;&gt;-->
<!--                        <li><a href="{% url 'student_management:index' %}">Home</a> </li>-->
<!--                    </ul>-->
<!--                    {% else %}-->
<!--                        <p>No links available</p>-->
<!--                    {% endif %}-->

                    <nav>
<!--                        <a>TO DO: add links</a>-->
                        <a href="{% url 'student_management:index' %}">Home</a>
                        <a href="{% url 'student_management:student_courses' %}">My courses</a>
                        {% if user_id %}
                        <a href="{% url 'student_management:profile' pk=user_id %}">My profile</a>
                        {% endif %}
                        <a href="{% url 'student_management:register_course' %}">Register Course</a>
                        <a href="#">Contact</a>
                    </nav>
                </div>

                <div id="extra">
                    <p><strong> Additional PLACE HOLDER</strong></p>
                    <h3>In this guide you will learn:</h3>
                    <ul>
                        <li>How to use CSS Flexbox to build modern layouts</li>
                        <li>How to align items both vertically and horizontally</li>
                        <li>How to order items within container</li>
                        <li>And more</li>
                    </ul>
                </div>

                <div id="footer">
                    <ul>
                        <li><a href="/student_management/login">Loging</a></li>
                        <li><a href="{% url 'student_management:logout' %}">logout</a></li>
                        <li><a href="{% url 'student_management:register' %}">register</a></li>
                    </ul>
                </div>
        </div>

    </body>
</html>