{% extends "student_management/base.html" %}


{% block content %}
    <h2>Create course</h2>
    <form action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>

{% endblock %}