{% extends "student_management/base.html" %}


{% block content %}
    <h2><strong>{{course.name}}</strong></h2>
    <p><strong>Description:</strong></p> <p>{{course.description}}</p>
    <p><strong>level: </strong></p><p>{{course.level}}</p>
    <p><strong>start date: </strong></p><p>{{course.start_date}}</p>
    <p><strong>price: </strong></p><p>{{course.price}}</p>

    {% if student_has_course %}

    {% else %}
    <form action="." method="POST">
        {% csrf_token %}
        <input type="hidden" name="subscribe_to_course" value="True">
        <button type="submit">Register</button>
    </form>
    {% endif %}

{% endblock %}


