{% extends "student_management/base.html" %}


{% block content %}

            <h2><strong>Available courses</strong></h2>
<!--            <h3>Available courses </h3>-->
            {% if courses_list %}
                <ul id="index_courses_list">
                {% for course in courses_list %}
                    <li><a href="/student_management/{{course.id}}/course">{{course.name}}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There are not courses available.</p>
            {% endif %}

{% endblock %}
