{% extends "student_management/base.html" %}


{% block content %}
    <strong><h1>{{student.name}}</h1></strong>
    <a>Subscribed courses</a>
    {% if courses_list %}
    <ul>
        {% for course in courses_list %}
        <li>
            <p><strong>{{course.name}}</strong></p>
            <p>{{course.description}}</p>
<!--            <p>level: </p><p>{{course.level}}</p>-->
            <p>start date: </p><p>{{course.start_date}}</p>
<!--            <p>price: </p><p>{{course.price}}</p>-->
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="course_id" value="{{course.id}}">
                <button type="submit">Un register</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You are not subscribed to any courses yet.</p>
        <a class="my_links" href="{% url 'student_management:index' %}">Go find a course for you</a>
    {% endif %}

{% endblock %}