*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: arial;
}
body{
	background: #eee;
}
.wrapper{
	position: relative;
}
.sidebar{
	position: fixed;
	width: 250px;
	height: 100%;
	background: #4527A0;
	padding: 10px 0;

}
.wrapper .sidebar ul li{
	padding: 15px;
}
.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
}
.wrapper .sidebar ul li a .fas{
	width: 25px!important;
}
.wrapper .sidebar ul li a .far{
	width: 25px!important;
}
.wrapper .sidebar ul li:hover{
	background: #311B92;
}
.wrapper .sidebar ul li a:hover{
	color: #fff;
	text-decoration: none;
}
.myproject{
	margin-top: 25px;
	color: #ffffffa8;
	font-size: 14px;
	margin-bottom: 0;
}
.userProfile{
	position: absolute;
	bottom: 100px;
	left: 5%;
	display: flex;

}
.userProfile a{
	width: 20px;
	background: #4527A0;
	color: #bdb8d7;
	text-decoration: none;
	font-size: 15px;
}
.userProfile a:hover{
	color: #fff;
	background: #4527A0;
}
.userProfile p{
	color: #fff;
	padding: 0 15px 0 15px;
}
.userProfile
.xyz,
.mnp{
	padding-top: 60%;
	line-height: 30px;
	font-size: 25px!important;
}
.notification1{
	display: flex;
}
.notification1 .number1{
	font-size: 15px;
	display: block;
    padding-left: 100px;
    color: #fff;
}

.notification2{
	display: flex;
}
.notification2 .number2{
	font-size: 15px;
	display: block;
    padding-left: 85px;
    color: #fff;
   }