    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftBar.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
</head>
<body style="text-align: center">

    <nav th:insert="navBar :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"></nav>

    <div th:insert="leftBar :: leftBar" class="wrapper d-flex"></div>


    <div style=" width: fit-content;display: flex;flex-direction: column;margin-left: 250px;">
        <form th:if="${principal}" th:action="@{/addCourse}" th:object="${course}" method="post"
              style=" width: fit-content;display: flex;flex-direction: column;">

            <label>Name:</label>
            <input type="text" th:field="*{name}" required/>
            <label>Description:</label>
            <textarea type="text" th:field="*{description}" required></textarea>
        <!--    <input type="text" th:field="$*{level}"/>-->
            <label>Level:</label>
            <select th:field="*{level}">
                <option th:each="level : ${courseLevels}"
                        th:value="${level}"
                        th:text="${level}">
                </option>
            </select>
            <label>Start date:</label>
            <input type="datetime-local" th:name="start_date"/>
<!--            <input type="datetime-local" th:field="*{startDate}"/>-->
            <label>Price:</label>
            <input type="number" th:field="*{price}"/>
            <label>Occupancy Limit</label>
            <input type="number" th:field="*{occupancyLimit}"/>
            <label>Teacher username</label>
            <input type="text" th:name="teacherName" required/>
            <button type="submit" th:name="saveCourse">Save</button>
        </form>

    </div>

</body>
</html>