<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add course content</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftBar.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div th:fragment="newContentBlock" id="contentBlocksView" class="newContentBlock">

    <div class="accordion" id="accordionExample">
        <div th:each="contentBlock,iterator: ${contentBlocks}" class="card" th:classappend="'contentBlock'+${iterator.index}">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" th:attr="data-target='#contentBlock'+${iterator.index}"
                            aria-expanded="true" aria-controls="'contentBlock' + ${iterator.index}" th:text="${contentBlock.title}">
                    </button>
                </h5>
            </div>
            <div th:id="'contentBlock' + ${iterator.index}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="accordion" th:id="'block'+ ${iterator.index} + 'lessons'">

                        <button th:id="'addLessonButton'+${contentBlock.id}" th:value="${contentBlock.id}" onclick="addLesson(this.value)" type="button"> add Lesson </button>

                        <div th:each="lesson,lessonsIt: ${contentBlock.lessons}" class="card" th:classappend="'contentBlock' + ${iterator.index} + 'lesson'+${lessonsIt.index}">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" th:attr="data-target='#contentBlock'+${iterator.index} + 'lesson'+${lessonsIt.index}"
                                            aria-expanded="true" aria-controls="aria-controls='contentBlock' + @{iterator.index} + 'lesson'+@{lessonsIt.index}" th:text="${lesson.title}">
                                    </button>
                                </h5>
                            </div>
                            <div th:id="'contentBlock' + ${iterator.index} + 'lesson'+${lessonsIt.index}" class="collapse"
                                 aria-labelledby="headingOne" th:attr="data-parent='#block'+ ${iterator.index} + 'lessons'">
                                <div class="card-body">
                                    <h2><strong th:text="${lesson.title}"></strong></h2>
                                    <p><strong>Description:</strong></p> <p th:text="${lesson.description}"></p>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video style="height:350px"  th:src="${lesson.lessonFile.dataLink}" controls>
                                            <source th:src="${lesson.lessonFile.dataLink}" th:attr="type= ${lesson.lessonFile.fileType}">
                                        </video>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:fragment="loadContentBlock"  class="newContentBlock">



</div>

<div th:fragment="newContentBlockForm"  class="newContentBlock">

<!--    <form th:action="@{'/save/newContentBlock/'} + ${courseId}" th:object="${contentBlock}" method="post" style=" width: fit-content;display: flex;flex-direction: column;">-->

        <label>Title:</label>
        <input type="text" th:id ="CBtitle" />
        <label>Description:</label>
        <input type="text" th:id="CBdescription" />

        <button type="button" th:id="saveCB" th:name="saveCourse" th:value="${courseId}" onclick="functionTEST()" >Save</button>
<!--    </form>-->


</div>


<div th:fragment="createNewLesson"  class="newLesson">

    <!--    <form th:action="@{'/save/newContentBlock/'} + ${courseId}" th:object="${contentBlock}" method="post" style=" width: fit-content;display: flex;flex-direction: column;">-->

    <label>Title:</label>
    <input type="text" th:id ="lessonTitle" />
    <label>Description:</label>
    <input type="text" th:id="lessonDescription" />
    <input id="lessonFileUpload" type="file" name="fileUpload" />
<!--    <button id="upload-button" onclick="uploadFile()"> Upload </button>-->

    <button type="button" th:id="saveLesson" th:name="saveLesson" th:value="${blockId}" onclick="saveLessonFunction()" >Save</button>


</div>


</body>
</html>