<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>
<body>

    <div th:fragment="coursesList" class="list-group">
        <a th:each="course : ${courses}" class="">
            <div class="w-100 justify-content-between">
                <a th:href="${'/courses/'} + ${course.id}"> <h3 th:text="${course.name}" class=""></h3> </a>
                <h6 th:text="${course.description}" ></h6>
                <a th:text="${course.level}" >level: </a>
                <a th:text="${#temporals.format(course.startDate, 'dd-MM-yyyy HH:mm')}" ></a>
            </div>
        </a>
    </div>

</body>
</html>