<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Course Details</title>
<!--    <link href="css/home.css" rel="stylesheet" />-->
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftBar.css" />
</head>
<body id="page-top">
    <nav th:insert="navBar :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"></nav>

    <div th:insert="leftBar :: leftBar" class="wrapper d-flex"></div>

    <div style="margin-top: 50px; text-align: center; margin-left: 250px;">
        <h2><strong th:text="${course.name}"></strong></h2>
        <p><strong>Description:</strong></p> <p th:text="${course.description}"></p>
        <p><strong>level: </strong></p><p th:text="${course.level}"></p>
        <p><strong>start date: </strong></p><p th:text="${course.startDate}"></p>
        <p><strong>price: </strong></p><p th:text="${course.price}"></p>

<!--        <ul th:if="${contentBlocks}" class="list-group">-->
<!--            <li th:each="contentBlock: ${contentBlocks}" class="list-group-item ">-->
<!--                <h2><strong th:text="${contentBlock.title}"></strong></h2>-->
<!--                <p><strong>Description:</strong></p> <p th:text="${contentBlock.description}"></p>-->
<!--                <ul th:if="${contentBlock.lessons}" class="list-group">-->
<!--                    <li th:each="lesson: ${contentBlock.lessons}" class="list-group-item ">-->
<!--                        <h2><strong th:text="${lesson.title}"></strong></h2>-->
<!--                        <p><strong>Description:</strong></p> <p th:text="${lesson.description}"></p>-->
<!--                        <div class="embed-responsive embed-responsive-16by9">-->
<!--&lt;!&ndash;                            <iframe class="embed-responsive-item"width="560" height="315" th:src="${lesson.lessonFile.dataLink}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&ndash;&gt;-->
<!--                            <video style="height:350px"  th:src="${lesson.lessonFile.dataLink}" controls>-->
<!--                                <source th:src="${lesson.lessonFile.dataLink}" type="@{lesson.lessonFile.fileType}">-->
<!--                            </video>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--        </ul>-->

        <div class="accordion" id="accordionExample">
            <div th:each="contentBlock,iterator: ${course.contentBlocks}" class="card" th:classappend="'contentBlock'+${iterator.index}">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" th:attr="data-target='#contentBlock'+${iterator.index}"
                                aria-expanded="true" aria-controls="'contentBlock' + ${iterator.index}" th:text="${contentBlock.title}">
                        </button>
                    </h5>
                </div>
                <div th:id="'contentBlock' + ${iterator.index}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        <div class="accordion" th:id="'block'+ ${iterator.index} + 'lessons'">
                            <div th:each="lesson,lessonsIt: ${contentBlock.lessons}" class="card" th:classappend="'contentBlock' + ${iterator.index} + 'lesson'+${lessonsIt.index}">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" th:attr="data-target='#contentBlock'+${iterator.index} + 'lesson'+${lessonsIt.index}"
                                                aria-expanded="true" aria-controls="aria-controls='contentBlock' + @{iterator.index} + 'lesson'+@{lessonsIt.index}" th:text="${lesson.title}">
                                        </button>
                                    </h5>
                                </div>
                                <div th:id="'contentBlock' + ${iterator.index} + 'lesson'+${lessonsIt.index}" class="collapse"
                                                aria-labelledby="headingOne" th:attr="data-parent='#block'+ ${iterator.index} + 'lessons'">
                                    <div class="card-body">
                                        <h2><strong th:text="${lesson.title}"></strong></h2>
                                        <p><strong>Description:</strong></p> <p th:text="${lesson.description}"></p>
                                        <div class="embed-responsive embed-responsive-16by9">
                                           <video style="height:350px"  th:src="${lesson.lessonFile.dataLink}" controls>
                                                <source th:src="${lesson.lessonFile.dataLink}" th:attr="type= ${lesson.lessonFile.fileType}">
                                            </video>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <form th:if="${canEnroll}" th:action="@{/enrollToCourse}" th:object="${course}" method="post">
<!--            <input type="submit" th:name="courseId" th:value="${course.id}"/>-->
            <button type="submit" th:name="courseId" th:value="${course.id}">Enroll</button>
        </form>
        <form th:if="${canUnenroll}" th:action="@{/unenrollFromCourse}" th:object="${course}" method="post">
            <button type="submit" th:name="courseId" th:value="${course.id}">unenroll</button>
        </form>
        <form th:if="${canDelete}" th:action="@{/deleteCourse}" th:object="${course}" method="post">
            <button type="submit" th:name="courseId" th:value="${course.id}">Delete course</button>
        </form>
        <form th:if="${canEdit}" th:action="${'/courses/edit/'}+${courseId}" th:object="${course}" method="get">
            <button type="submit" th:name="courseId" th:value="${course.id}">Edit course</button>
        </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>