<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit course</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftBar.css" />
</head>
<body>

<nav th:insert="navBar :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"></nav>

<div th:insert="leftBar :: leftBar" class="wrapper d-flex"></div>

<div style=" width: fit-content;display: flex;flex-direction: column;margin-left: 250px;">
    <form th:if="${principal}" th:action="@{'/courses/edit/save/'}+${course.getId}" id="principalForm"
        th:value="${course.id}" th:attr="courseId=''+${course.id}" th:object="${course}" method="post"
            style=" width: fit-content;display: flex;flex-direction: column;">

        <label>Name:</label>
        <input type="text" th:field="*{name}" />
        <label>Description:</label>
        <textarea type="text" th:field="*{description}" ></textarea>
        <label>Level:</label>
        <select th:field="*{level}">
            <option th:each="level : ${courseLevels}"
                    th:value="${level}"
                    th:text="${level}"
                    th:selected="${level==course.level}">
            </option>
        </select>
        <label>Start date:</label>
        <input type="datetime-local" th:name="start_date" />
<!--        <input type="text" th:field="*{startDate}" />-->
        <!--        <input type="date" th:field="*{startDate}"/>-->
        <label>Price:</label>
        <input type="number" th:field="*{price}" />
        <label>Occupancy Limit</label>
        <input type="number" th:field="*{occupancyLimit}" />
    <!--    <label>Teacher username</label>-->
    <!--    <input type="text" th:name="teacherName" th:text="${course.name}"/>-->

        <div th:insert="addCourseContent :: newContentBlock" class="wrapper d-flex"></div>

        <div th:id="placeholder"></div>

        <input type="checkbox" th:name="notifyStudents" th:value="true" th:text="'notify change to students'">
        <button type="button" th:id="addContentBlockButton" th:name="addContentBlock" th:value="${course.id}" onclick="getNewContentBlock()">new Content Block</button>
        <button type="submit" th:name="saveCourse">Save</button>
    </form>
</div>

<!--<script>-->
<!--    function getNewContentBlock() {-->
<!--&lt;!&ndash;        var url = '/newContentBlock/'+ $('#addContentBlock').val();&ndash;&gt;-->
<!--        var url = '/newContentBlock/'+ 23;-->
<!--        $("#placeholder").load(url);-->
<!--    }-->
<!--    -->
<!--</script>-->

<script>
    const getNewContentBlock = () => {
        var url = '/newContentBlock/' + $('#addContentBlockButton').val();
        fetch(url).then(function (response) {
            return response.text();
        }).then(function (html) {
            console.log(html)
            document.getElementById("placeholder").innerHTML = html;
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });
    }

</script>

<script>

<!--    const getNewContentBlock = () => {-->
<!--        var url = '/newContentBlock/' + $('#addContentBlockButton').val();-->
<!--        fetch(url).then(function (response) {-->
<!--            return response.text();-->
<!--        }).then(function (html) {-->
<!--            console.log(html)-->
<!--            document.getElementById("placeholder").innerHTML = html;-->
<!--        }).catch(function (err) {-->
<!--            console.warn('Something went wrong.', err);-->
<!--        });-->
<!--    }-->

    async function functionTEST() {
        let formData = new FormData();

        formData.append("title", $('#CBtitle').val());
        formData.append("description", $('#CBdescription').val());
        let response = await fetch('/save/newContentBlock/'+ $('#saveCB').val(), {
            method: "POST",
            body: formData
        });

        if (response.status == 200) {
<!--        alert("File successfully uploaded.");-->
<!--            var url = '/getContentBlocks/' + $('#principalForm').getAttribute('courseId');-->
<!--            fetch(url).then(function (response) {-->
<!--                return response.text();-->
<!--            }).then(function (html) {-->
<!--                console.log(html)-->
<!--                document.getElementById("newContentBlock").innerHTML = html;-->
<!--            }).catch(function (err) {-->
<!--                console.warn('Something went wrong.', err);-->
<!--                });-->

            document.getElementById("placeholder").innerHTML = '';
            getContentBlocks();
        }
    }

    async function getContentBlocks() {
        var url = '/getContentBlocks/' + $('#principalForm').attr('courseid');
        fetch(url).then(function (response) {
            return response.text();
        }).then(function (html) {
            console.log(html)
            $('#contentBlocksView').replaceWith(html)
        }).catch(function (err) {
            console.warn('Something went wrong.', err);
            });
    }

</script>

<script>

    const addLesson = (blockId) => {
        var url = '/newLesson/' + $('#addLessonButton'+blockId).val();
        fetch(url).then(function (response) {
            return response.text();
        }).then(function (html) {
            console.log(html)
            document.getElementById("placeholder").innerHTML = html;

        }).catch(function (err) {
            console.warn('Something went wrong.', err);
        });
    }

    </script>

<script>
        async function saveLessonFunction() {
            var url = '/saveNewLesson/' + $('#saveLesson').val();

            let formData = new FormData();
            formData.append("file", lessonFileUpload.files[0]);
            formData.append("title", $('#lessonTitle').val());
            formData.append("description", $('#lessonDescription').val());

            let response = await fetch(url, {
                method: "POST",
                body: formData
            });

            if (response.status == 200) {
                document.getElementById("placeholder").innerHTML = '';
                getContentBlocks();
            }
        }
    </script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>