<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Student Management System</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css" />
        <link rel="stylesheet" type="text/css" href="/css/general.css" />
        <link rel="stylesheet" type="text/css" href="/css/leftBar.css" />
    </head>
<body id="page-top">


    <nav th:insert="navBar :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"></nav>
<!--        <div sec:authorize="isAuthenticated()">-->
    <div th:insert="leftBar :: leftBar" class="wrapper d-flex"></div>


<!--TODO: CHANGE FOR coursesList fragment-->
    <div style="margin-left:250px; margin-top: 50px; text-align:center">

        <input id="fileupload" type="file" name="fileupload" />
        <button id="upload-button" onclick="uploadFile()"> Upload </button>
        <script>
            async function uploadFile() {
              let formData = new FormData();
              formData.append("file", fileupload.files[0]);
              let response = await fetch('/file/uploadFile/S3', {
                method: "POST",
                body: formData
              });

              if (response.status == 200) {
                alert("File successfully uploaded.");
              }
            }
        </script>

<!--        <input id="fileupload" type="file" name="fileupload" />-->
<!--        <button id="upload-button" onclick="uploadFile()"> Upload </button>-->
<!--        <script>-->

<!--            $.ajax({-->
<!--                type: 'get',-->
<!--                url: '/file/downloadFile',-->
<!--                contentType: 'application/json; charset=utf-8',-->
<!--                data: { thing1: item, thing2: item2 },-->
<!--                datatype: 'json',-->
<!--                success: function (result) {-->
<!--                    var uri = '../api/GetPDFOffDisk/ + pdfName;-->
<!--                    var src = '../web/printViewer.html?file=' + encodeURIComponent(uri);-->
<!--                    window.open(src, "_blank");-->
<!--                },-->
<!--                error: function () {-->
<!--                    toastr.error('Error creating print.');-->
<!--                }-->
<!--            });-->
<!--        </script>-->

        <div>

        <div class="list-group">
            <a th:each="course : ${courses}" class="">
                <div class="w-100 justify-content-between">
                    <a th:href="${'/courses/'} + ${course.id}"> <h3 th:text="${course.name}" class=""></h3> </a>
                    <h6 th:text="${course.description}" ></h6>
                    <a th:text="${course.level}" >level: </a>
                    <a th:text="${#temporals.format(course.startDate, 'dd-MM-yyyy HH:mm')}" ></a>
                </div>
            </a>
        </div>
    </div>

    </body>
</html>