<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

        <div th:fragment="leftBar" class="sidebar">

            <ul th:if="${TEACHER}">
                <li><a th:href="@{addCourse}">add new course</a></li>
<!--                <li><a th:href="@{addCourse}">add new course</a></li>-->
            </ul>
            <ul th:if="${STUDENT}">
                <li><a th:href="@{'/userProfile/'}+${principal.getName}">My Courses</a></li>
                <li><a href="#">Team</a></li>
            </ul>
            <ul th:if="${ADMIN}">
                <li><a th:href="@{addCourse}">add new course</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Team</a></li>
            </ul>
            <p class="myproject px-3"></p>
<!--            <ul>-->
<!--                <li><a href="#">Website redesign</a></li>-->
<!--                <li><a href="#">GraphQL API</a></li>-->
<!--                <li><a href="#">Customer migration guides</a></li>-->
<!--                <li><a href="#">Profit sharing program</a></li>-->
<!--            </ul>-->
            <div class="userProfile">
                <a href="#"><i class="far fa-user-circle  xyz"></i></a>
                <li th:if="${#request.remoteUser}" class="nav-item"><a class="navbar-brand">[[${#request.remoteUser}]]</a></li>
                <p th:if="${principal == null}" class="username"><br><a  th:href="@{/login}">View Profile</a></p>
                <p th:if="${principal}" class="username"><br><a  th:href="${'/userProfile/'}+${principal.getName}">View Profile</a></p>
                <a href="#"><i class="fas fa-cog mnp"></i></a>
            </div>

        </div>

</body>
</html>