<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>

<body>

<!--    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">-->
        <div th:fragment="navbar" class="container px-4">
            <a class="navbar-brand" th:href="@{/}">Student Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul  class="navbar-nav ms-auto">
                    <!--                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>-->
                    <!--                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>-->
                    <!--                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>-->
                    <!--                        th:if="${principal}"-->
                    <li th:if="${principal}" class="nav-item"><a class="navbar-brand">Logged as: [[${#request.remoteUser}]]</a></li>
                    <li th:if="${principal == null}" class="nav-item"><a class="nav-link" th:href="@{/register}">Register</a></li>
                    <li th:if="${principal == null}" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                    <li th:if="${principal}"class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
<!--    </nav>-->

</body>
</html>