<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftBar.css" />
</head>
<body>

    <nav th:insert="navBar :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"></nav>

    <div th:insert="leftBar :: leftBar" class="wrapper d-flex"  ></div>

    <div style="margin-left:250px; margin-top: 50px; text-align:center;">
        <h2><strong th:text="${user.userName}"></strong></h2>
        <p><strong>Name:</strong></p> <p th:text="${user.firstName} + ${user.lastName}"></p>
        <p><strong>Email: </strong></p><p th:text="${user.email}"></p>
        <p><strong>Courses: </strong></p><p></p>

        <div th:insert="coursesList" ></div>

    </div>


</body>
</html>